<h1>Listing conteudos</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @conteudos.each do |conteudo| %>
  <tr>
    <td><%= link_to 'Show', conteudo %></td>
    <td><%= link_to 'Edit', edit_conteudo_path(conteudo) %></td>
    <td><%= link_to 'Destroy', conteudo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Conteudo', new_conteudo_path %>
