<!DOCTYPE html>
<html>
<head>
  <title>Colaborativo</title>
  <link rel="stylesheet" type="text/css" href="http://extjs.cachefly.net/ext-3.2.1/resources/css/ext-all.css"/>
  <script type="text/javascript" src="http://extjs.cachefly.net/ext-3.2.1/adapter/ext/ext-base.js"></script>
  <script type="text/javascript" src="http://extjs.cachefly.net/ext-3.2.1/ext-all-debug.js"></script>
  
  
  <script type="text/javascript" src="javascripts/app/ConteudoStore.js"></script>

  <script type="text/javascript" src="javascripts/app/PainelPrincipal.ui.js"></script>
  <script type="text/javascript" src="javascripts/app/PainelPrincipal.js"></script>
  <script type="text/javascript" src="javascripts/app/Navegacao.ui.js"></script>
  <script type="text/javascript" src="javascripts/app/Navegacao.js"></script>
  <script type="text/javascript" src="javascripts/app/Principal.ui.js"></script>
  <script type="text/javascript" src="javascripts/app/Principal.js"></script>
  <script type="text/javascript" src="javascripts/app/Detalhe.ui.js"></script>
  <script type="text/javascript" src="javascripts/app/Detalhe.js"></script>
  <script type="text/javascript" src="javascripts/app/Conteudo.ui.js"></script>
  <script type="text/javascript" src="javascripts/app/Conteudo.js"></script>
  <script type="text/javascript" src="javascripts/app/Forum.ui.js"></script>
  <script type="text/javascript" src="javascripts/app/Forum.js"></script>
  <script type="text/javascript" src="javascripts/app/Main.ui.js"></script>
  <script type="text/javascript" src="javascripts/app/Main.js"></script>
  <script type="text/javascript" src="javascripts/app/Eventos.ui.js"></script>
  <script type="text/javascript" src="javascripts/app/Eventos.js"></script>
  <script type="text/javascript" src="javascripts/app/Principal.ui.js"></script>
  <script type="text/javascript" src="javascripts/app/Principal.js"></script>
  <script type="text/javascript" src="javascripts/app/ForumStore.js"></script>
  <script type="text/javascript" src="javascripts/app/index.js"></script>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
